.env
.adk/
**/.adk/
.venv/
__pycache__/
md/
Multi-Agent-System-for-SSE-Composite-Index-Prediction-main/

*.py[cod]
*.db
.DS_Store
*.log
*.sqlite3
*.bak
*.swp
*.tmp
*.egg-info/
dist/
build/
*.egg
*.pyc
*.pyo
*.pyd
*.cover
.coverage
htmlcov/
.tox/
.nox/
.coverage.*
.cache/
nosetests.xml
coverage.xml
*.coverage
